.hidden {
  display: none !important;
}

#quote p {
  font-style: italic;
  font-weight: bold;
  margin: 0px;
}

#quote p:last-child {
  margin-bottom: 10px;
}

body {
  display: flex;
  justify-content: center;
}

#content {
  width: 50%;
  text-align: center;
}

#todo-form {
  display: inline-block;
  position: relative;
}

#todo-form textarea {
  border: 0px;
  border-bottom: 2px solid rgba(224, 217, 217, 0.982);
  display: block;
  font-family: arial;
}

/* submit button */
#todo-form input {
  position: absolute;
  margin-left: 30px;
}

ul {
  margin-left: 20%;
  text-align: left;
  padding: 0px;
  list-style: none;
}
ul li {
  width: 300px;
  margin: 0 auto;
}
ul li span {
  border-bottom: 1px solid;
}
